html,body{font-family:"georgia";font-size:15px;line-height:1.5em;}
body{background:#eee;}
#container{position:relative;display:block;margin:4em auto;width:100%;max-width:1000px;}
#search{position:relative;display:block;width:100%;}#search input{padding:0.5em 1em;border:1px solid #ccc;outline-style:none;width:500px;line-height:2em;font-family:Menlo, courier;font-size:15px;}#search input:focus{border:1px solid #999;}
#results{margin:2em 0;min-height:50px;}#results.loading{background:#eeeeee url("images/ajax-loader.gif") no-repeat 10px 10px;}
#results #match{margin:0.5em 0;border-bottom:1px solid #ccc;line-height:2em;padding:0.5em 1em;}#results #match #idee{font-weight:bold;}
#results #match #text{margin-left:1em;}
#counts #count {margin:0.5em 0;border-bottom:1px solid #ccc;line-height:2em;padding:0.5em 1em;}#counts #count #hits{font-weight:bold;}
#counts #count #cats{margin-left:1em;}
