<!doctype html>
<html>
	<head>
	
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- css rendered with less -->
		<!-- <link href="/tmi/static/css/_main.css" rel="stylesheet" type="text/css" /> -->
		<link href="/static/css/_main.css" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'/>

		<!-- external jquery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<!-- js -->
		<!-- <script src="/tmi/static/js/script.js"></script> -->
    	<script src="/static/js/script.js"></script>
	
		<title>{{title}}</title>
	</head>
	<body>	
		<header>
      		<div class="inner">
		        <h1>Thompson's Motif-Index of Folk Literature</h1>
		        <a href="https://github.com/fbkarsdorp/tmi" class="button"><small>View project on</small>GitHub</a>
	       </div>
	    </header>

	    <div id="container">
			<div id="search">
				<input type='text' placeholder="enter your query"/>
			</div>
			<div id="suggestion"></div>
			<div id="execution">
				<p><span id="hits"></span> <span id="time"></span></p>
			<div id="opdracht"></div>
 			<div id="results"></div>
	    </div>
	</body>
</html>
