<div id="landing">

	<div id="search">
		
		<div id='name'>MOMFER</div>

		<div class='row'>
			<div><input type="text" placeholder="search the motifs archive" zoek/></div>
			<div><button ng-click='search()'>search</button></div>
		</div>
		HELP<Br>

		<!--<a href="http://www.meertens.knaw.nl/" target="_blank">Meertens Instituut</a>-->
		<a href="https://github.com/fbkarsdorp/tmi"  target="_blank">on github</a>
		<a href='http://www.folgertkarsdorp.nl/' target='_blank'>by F B Karsdorp</a>
		<a href='http://www.bstn.nl/' target='_blank'>design by BSTN</a>
	</div>

</div>