<div id="helpbutton"><button ng-click='help=!help' id='helpbutton' ng-class="{'icon-question':!help,'icon-cancel-circle-1':help}"></button></div>

<div id="main" ng-class="{'open':help}">

	<div id="frame">
		<div id='head' fixed='100'>
			<div id='mid'>
				<div id='logo'>
					<div id='name' ng-class="{'small':data}">MOMFER</div>
					<div id='subname' ng-hide='data'>
						Meertens online motif finder
					</div>
				</div>

				<div id='search'>
					<div><input type="text" placeholder="enter query here" ng-model='q' zoek/></div>
					<div ng-show='data.hits'><button id='downloadbutton' ng-click='download()' class='icon-down-circled'></button></div>
					<div><button id="searchbutton" ng-click='search_button()' class='icon-search-1'></button></div>
				</div>
				<div id='meta' ng-show='data'>
					<div id='stats' ng-show='data.hits'>
						<div id='hits' ng-bind='data.hits'></div>
						<label>results in </label>
						<div id='time' ng-bind='data.time | round'></div>
					</div>
					
					<div id='abstraction' ng-show='data.hits'>
						<label>Try more abstraction:</label>
						<div id='suggest' ng-repeat='sug in data.suggest'>
							<span id='sug' ng-bind="'wn:'+sug" ng-click="sugsearch(sug)"></span>
						</div>
					</div>
					<div id='message' ng-show='check_results()'>Sorry, no results. Please try again.</div>
				</div>
				<div id="footer" ng-hide='data'>
					<a href="https://github.com/fbkarsdorp/tmi"  target="_blank">code on github</a>
					<a href='http://www.folgertkarsdorp.nl/' target='_blank'>by F B Karsdorp</a>
					<a href='http://www.bstn.nl/' target='_blank'>design by BSTN</a>
				</div>
			</div>
		</div>
	
		<div id='prefix' prefix='100'></div>

		<div id='results' ng-show='data'>
			<div id='spinner' ng-show='loading'></div>
			<div id='result' ng-repeat='result in data.results' ng-hide='loading'>
				<div id='motif' ng-bind='result.motif'></div>
				<div id='description' ng-bind-html='result.description | htmll'></div>
				<div id='additional' ng-bind-html='result.additional | htmll' ng-show="result.additional"></div>
				<div id='references' ng-bind='result.references'></div>
			</div>
			<div id='paging' ng-hide='loading'>
				<div id='pages' ng-show='data.hits'>
					<div id='prev' ng-click='search(q,page-1)' ng-show='is_first()'><</div>
					<div id='page' ng-repeat='nr in pages()' ng-click='search(q,nr)' ng-bind='nr' ng-class="{'now':nr==page}"></div>
					<div id='next' ng-click='search(q,page+1)' ng-show='is_last()'>></div>
				</div>
			</div>
		</div>
		<div id="footer">
			<a href="https://github.com/fbkarsdorp/tmi"  target="_blank">code on github</a>
			<a href='http://www.folgertkarsdorp.nl/' target='_blank'>by F B Karsdorp</a>
			<a href='http://www.bstn.nl/' target='_blank'>design by BSTN</a>
		</div>
	</div>
</div>

<div ng-class="{'open':help}" id="help">
	<div id='content' help></div>
</div>


<!--[if lt IE 10]>
<style>
#search { display:table;width:100% !important;}
#search > div {display:table-cell;vertical-align:top;}
#container {display:table;width:100% !important; height:100%;}
#container > div {display:table-cell}
#container #help {display:none;}
#container .open#help {display:table-cell;position:relative;vertical-align:top;}
#container .open#help #content {height:100%;overflow:scroll;margin:0;position:relative;padding:0 4em;}
</style>
<![endif]-->